# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
terraform.tfvars
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Ansible inventory or secrets
ansible/inventory.ini

# Environment variable files (global)
*.env
**/*.env